@import "tailwindcss";

@theme {
  --color-matcha-50: #f4f7ea;
  --color-matcha-100: #e6edd0;
  --color-matcha-200: #cddfa4;
  --color-matcha-300: #adc975;
  --color-matcha-400: #8bb04e;
  --color-matcha-500: #6f9637;
  --color-matcha-600: #577b2b;
  --color-matcha-700: #446122;
  --color-matcha-800: #32491a;
  --color-matcha-900: #223212;
  --color-matcha-950: #141f0a;

  --color-cream-50: #fcfdf7;
  --color-cream-100: #f4f7ea;
}

body {
  background-color: var(--color-cream-50);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-matcha-950);
  }
}
